*.o
*.optrpt
*.pyc
*.so
*~
/build
/doc/_static/doxygen
/.metadata/
/a5py.egg-info/
/venv
/.venv
/env
/.env
gitver.h
compiler_flags.h
ascot.h5
test_offload
test_B
test_E
test_N0
test_bsearch
test_interp1Dcomp
test_linint3D
test_math
test_plasma
test_random
test_spline
test_wall_2d
test_wall_3d
ascot5_main
bbnbi5
no_sync/