name: (Reusable) Generate Documentation
on:
  workflow_call:
    inputs:
      publish:
        description: "Publish generated docs"
        type: boolean
        required: false
        default: false

jobs:
  Build-HTML:
    permissions:
      contents: read
      packages: read
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -el {0}

    steps:
      - uses: actions/checkout@v4

      - uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: "3.10"
          environment-file: environment-dev.yaml
          activate-environment: ascot-dev
          auto-activate-base: false

      - name: Setup headless display
        uses: pyvista/setup-headless-display-action@v3

      - name: Install a5py
        run: python -m pip install -e .[doc]

      - uses: actions/download-artifact@4
        with:
          name: code

      - name: Unpack
        run: |
          mkdir build
          tar -xf code.tar -C ./build/

      - name: Clone figures repository
        uses: actions/checkout@v4
        with:
          repository: ascot4fusion/figures
          ssh-key: ${{ secrets.SSH_KEY_FIGURES }}
          path: figures

      - name: Tutorials
        working-directory: ./a5py/testascot/
        run: python tutorials.py

      - name: Sphinx build
        run: |
          make doc

      - name: Upload artifact
        if: ${{ inputs.publish == true }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./build/doc

  Publish:
    needs: Build-HTML
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    if: ${{ inputs.publish == true }}

    steps:
      - name: Publish
        id: deployment
        uses: actions/deploy-pages@v4
